
.ca-banner{
    background-image: url("/client/images/Livingroom_grey-scaled.jpeg") !important;
    background-position: right 33% bottom 0 !important;
    background-size: cover !important;
    height: 50vh !important;
    @apply flex justify-center items-center;

    /* Medium (md) */
    @media (min-width: 768px) {
        height: 25vh !important;
        background-position: right top !important;
        background-size: contain !important;
        background-attachment: fixed !important;
    }
}

.ca-information {
    @apply bg-white py-16;

    .content{
        width: 90%;
        margin: 0 auto;
        .nr-box {
            @apply bg-gray-200 p-10 w-full flex justify-center flex-col flex-no-wrap flex-auto text-center rounded;
            margin: 0 auto 2rem;

            h2{
                @apply text-4xl mb-2 text-yellow-700;
            }
        }

        .info{
            @apply grid grid-flow-row;
            h2 {
                @apply pb-4;
            }

            .art-2{
                @apply pt-8;
            }
        }
    }
    /* Medium (md) */
    @media (min-width: 768px) {
        .content{
            .nr-box{
                @apply bg-gray-200 p-10 w-1/2 flex justify-center flex-col flex-no-wrap flex-auto text-center;
            }

            .info{
                @apply grid grid-flow-col col-span-2 gap-4;
                .art-2{
                    @apply pt-0;
                }
            }
        }
    }
}

.ca-feature {
    margin: 0 auto;
    @apply w-full bg-gray-300 pt-20 pb-20;

    div {
        @apply grid grid-rows-6;
        width: 90%;
        margin: 0 auto;

        div {
            @apply py-4 text-center flex flex-col items-center;

            svg {
                @apply stroke-current text-yellow-700 inline-block h-12 w-12;
            }

            h2 {
                @apply py-4;
            }
        }
    }
    /* Medium (md) */
    @media (min-width: 768px) {
        div{
            @apply grid grid-flow-col auto-cols-fr col-span-3 gap-4 grid-rows-2;
            width: 90%;
            margin: 0 auto;

            h2 {
                min-height: 100px;
            }
        }
    }
}