nav {
  @apply grid grid-flow-col auto-cols-max gap-4 justify-between items-center sticky mx-auto pt-4 pb-4;

  .logo{
    @apply h-12;
  }

  ul {
    @apply flex justify-self-end;
    
    &::after {
      content: "";
      display: block;
      clear: both;
    }

    li {

      [aria-current] {
        position: relative;
        display: inline-block;
      }

      [aria-current]::after {
        position: absolute;
        content: "";
        width: calc(100% - 1em);
        height: 2px;
        background-color: rgb(255, 62, 0);
        display: block;
        bottom: -1px;
      }

      a {
        text-decoration: none;
        padding: 1em 0.5em;
        display: block;
      }
    }
  }
}
