.navbar {
  @apply relative w-full z-10 py-6 transition-all duration-300 ease-out;

  .sticky {
    @apply bg-white p-2 shadow-md;
    // box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  }

  .content {
    @apply flex items-center justify-between;
    margin: 0 auto;
    width: 90%;

    .logo {
      a {
        @apply no-underline;
        img {
          height: 40px;
        }
      }
    }

    .menu-btn {
      cursor: pointer;
      &:hover,
      &:active {
        @apply text-yellow-700 transition-all duration-100 ease-linear;
      }
    }

    .menu-list {
      @apply bg-black py-20 block text-center fixed h-screen w-screen max-w-screen-sm top-0;
      left: -100%;
      visibility: hidden;

      .cancel-btn {
        @apply flex justify-center;
        cursor: pointer;
        svg {
          @apply fill-current text-white block h-12 w-12;
        }
        &:hover,
        &:active {
          @apply text-yellow-700 transition-all duration-100 ease-linear;
        }
      }

      &.show {
        left: 0%;
        visibility: visible;
        @apply transition-all duration-300 ease-out;
      }

      li {
        a {
          @apply block text-white text-2xl font-medium no-underline transition-all duration-300 ease-out p-6;
          &:hover {
            @apply text-yellow-700;
          }
        }
      }
    }

    /* Medium (md) */
    @media (min-width: 768px) {
      .cancel-btn,
      .menu-btn {
        @apply hidden;
      }

      .menu-list {
        @apply bg-transparent py-0 text-center relative h-auto w-auto max-w-none top-auto inline-flex opacity-100;
        visibility: visible;
        left: 0;

        li {
          a {
            @apply text-black text-base p-4;
          }
        }
      }
    }
  }
}
